.description {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main {
  text-align: center;
}

.subtitle {
  padding-top: 10px;
  padding-bottom: 30px;
}

.dbContainer {
  margin: 30px;
}

.dbContainer h3 {
  margin: 30px;
}

.title {
  font-size: 50px;
}